<div class="squiggly-border"></div>
<% tasks.each do |task| %>
  <div class="accordion-group priority-<%= task.priority %>">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href=<%= "#collapse-#{task.id}" %>>
        <i class="radmin-icon radmin-checkbox<%= "-unchecked" if task.todo? %>"></i>
        <%= "##{task.id} #{task.subject}" %>
        <% if @project.nil? %>
          <span class="label label-inverse"><%= task.project.name %></span>
        <% end -%>
        <span class="label label-<%= task.type %>"><%= task.type.capitalize %></span>
        <% if task.doing? %>
          <span class="label">Doing</span>
        <% end -%>
      </a>
    </div>
    <div id=<%= "collapse-#{task.id}" %> class="accordion-body collapse <%= "in" if task.id == params[:task_id] %>">
      <div class="accordion-inner">
        <% if task.assignee.present? %>
          <div>
            <b><%= task.todo? ? "Assignee To:" : "Finished by:" %></b>
            <p><%= task.assignee.nickname %></p>
          </div>
        <% end -%>
        <div>
          <b>Description:</b>
          <p><%= task.description.html_safe %></p>
        </div>
        <div class="btn-group">
          <% if task.todo? %>
            <% unless task.doing? %>
              <a href=<%= take_task_path(task) %> class="btn btn-small" data-method="post" rel="nofollow"><i class="icon-tag"></i> Take</a>
            <% end -%>
            <a href=<%= finish_task_path(task) %> class="btn btn-small" data-method="post" rel="nofollow"> <i class="icon-ok"></i> Finish</a>
            <a href=<%= edit_admin_task_path(task) %>><button class="btn btn-small"><i class="icon-pencil"></i> Edit</button></a>
            <%= link_to [:admin, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small"  do %>
              <i class="icon-remove"></i> Delete
            <% end -%>
          <% elsif task.toreview? %>
            <a href=<%= rollback_task_path(task) %> data-method="post" rel="nofollow" class="btn btn-small"><i class="icon-repeat"></i> Rollback</a>
            <a href=<%= checked_task_path(task) %> data-method="post" rel="nofollow" class="btn btn-small"><i class="icon-ok"></i> Checked</a>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end -%>

<script type="text/javascript" charset="utf-8">
  // For test
  $('#collapse-19').addClass('in');
</script>

<!-- Modal Example
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
-->
