<div class="sidebar-nav">
  <ul class="nav nav-stacked left-menu">
    <li class=<%= "active" unless @project %>>
    <a href=<%= root_path %>>
      <span class="box">
        <i class="radmin-icon radmin-book"></i>
      </span>
      <span class="hidden-tablet hidden-phone">All Tasks</span>
    </a>
    </li>

    <% Project.active.each do |project| %>
      <li id=<%= project.identifier %> class=<%= "active" if @project == project %>>
        <a href=<%= project_tasks_path(project) %>>
          <span class="box">
            <i class="radmin-icon radmin-file"></i>
          </span>
          <span class="hidden-tablet hidden-phone"><%= project.identifier %></span>
        </a>
      </li>
    <% end -%>

    <li class=<%= "active" if @project.try(:status) == :inactive %>>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="navigation-components" href="#inactive-projects">
        <span class="box">
          <i class="radmin-icon radmin-cabinet"></i>
        </span>
        <span class="hidden-tablet hidden-phone">Inactive</span>
        <span class="label pull-right hidden-tablet hidden-phone"><%= Project.inactive.count %></span>
      </a>
      <div id="inactive-projects" class="accordion-body collapse">
        <ul class="nav nav-stacked submenu">
          <% Project.inactive.each do |project| %>
            <li>
              <a href=<%= project_tasks_path(project) %>>
                <span class="box">
                  <i class="radmin-icon radmin-file-2"></i>
                </span>
                <span class="hidden-tablet hidden-phone"><%= project.identifier %></span>
              </a>
            </li>
          <% end -%>
        </ul>
      </div>
    </li>

    <li class=<%= "active" if @project.try(:status) == :archived %>>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="navigation-components" href="#archived-projects">
        <span class="box">
          <i class="radmin-icon radmin-cabinet"></i>
        </span>
        <span class="hidden-tablet hidden-phone">Archived</span>
        <span class="label pull-right hidden-tablet hidden-phone"><%= Project.archived.count %></span>
      </a>
      <div id="archived-projects" class="accordion-body collapse">
        <ul class="nav nav-stacked submenu">
          <% Project.archived.each do |project| %>
            <li>
              <a href=<%= project_tasks_path(project) %>>
                <span class="box">
                  <i class="radmin-icon radmin-file-2"></i>
                </span>
                <span class="hidden-tablet hidden-phone"><%= project.identifier %></span>
              </a>
            </li>
          <% end -%>
        </ul>
      </div>
    </li>
  </ul>
</div>
