<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>overview:</b>
  <%= @project.overview %>
</p>

<p>
  <b>Identifier:</b>
  <%= @project.identifier %>
</p>

<p>
  <b>Status cd:</b>
  <%= @project.status_cd %>
</p>


<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
